<app-logged-navbar></app-logged-navbar>

<body>
  <div class="container myContainer">
    <div class="row">
      <div class="col-lg-4">
        <app-left-panel></app-left-panel>
      </div>
      <div class="col-lg-8">
        <div class="agenda" style="margin-top: 15px;">
          <div class="table-responsive">
            <table class="table table-condensed table-bordered">
              <thead>
                <tr>
                  <th style="text-align:center;">Date</th>
                  <th style="text-align:center;">Time</th>
                  <th style="text-align:center;">Requester</th>
                  <th style="text-align:center;">Phone Number</th>
                  <th style="text-align:center;">Location</th>
                  <th style="text-align:center;">Announce</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="agenda-date" class="active" rowspan="1">
                    <div class="dayofmonth">26</div>
                    <div class="dayofweek">Saturday</div>
                    <div class="shortdate text-muted">July, 2017</div>
                  </td>
                  <td class="agenda-time">
                    <div class="agenda-time">
                      <i title="Time"></i>
                      6:40 PM
                    </div>
                  </td>
                  <td class="agenda-requester">
                    <div class="agenda-requester">
                      <i class="glyphicon glyphicon-user" title="Requester name"></i>
                      <a href="#" onclick="userModal()">User name</a>
                    </div>
                  </td>
                  <td class="agenda-phone">
                    <div class="agenda-phone">
                      <i class="glyphicon glyphicon-earphone" title="Requester phone number"></i>
                      0000000000
                    </div>
                  </td>
                  <td class="agenda-location">
                    <div class="agenda-location">
                      <i class="glyphicon glyphicon-home" title="Meeting location"></i>
                      Location
                    </div>
                  </td>
                  <td class="agenda-announce">
                    <div class="agenda-announce">
                      <i class="glyphicon glyphicon-flag" title="Announce link"></i>
                      <a href="#">Announce id</a>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="agenda-date" class="active" rowspan="2">
                    <div class="dayofmonth">4</div>
                    <div class="dayofweek">Saturday</div>
                    <div class="shortdate text-muted">July, 2018</div>
                  </td>
                  <td class="agenda-time">
                    <div class="agenda-time">
                      <i title="Time"></i>
                      10:30 AM
                    </div>
                  </td>
                  <td class="agenda-requester">
                    <div class="agenda-requester">
                      <i class="glyphicon glyphicon-user" title="Requester name"></i>
                      <a href="#" onclick="userModal()">User name</a>
                    </div>
                  </td>
                  <td class="agenda-phone">
                    <div class="agenda-phone">
                      <i class="glyphicon glyphicon-earphone" title="Requester phone number"></i>
                      0000000000
                    </div>
                  </td>
                  <td class="agenda-location">
                    <div class="agenda-location">
                      <i class="glyphicon glyphicon-home" title="Meeting location"></i>
                      Location
                    </div>
                  </td>
                  <td class="agenda-announce">
                    <div class="agenda-announce">
                      <i class="glyphicon glyphicon-flag" title="Announce link"></i>
                      <a href="#">Announce id</a>
                    </div>
                  </td>

                </tr>
                <tr>
                  <td class="agenda-time">
                    <div class="agenda-time">
                      <i title="Time"></i>
                      6:40 PM
                    </div>
                  </td>
                  <td class="agenda-requester">
                    <div class="agenda-requester">
                      <i class="glyphicon glyphicon-user" title="Requester name"></i>
                      <a href="#" onclick="userModal()">User name</a>
                    </div>
                  </td>
                  <td class="agenda-phone">
                    <div class="agenda-phone">
                      <i class="glyphicon glyphicon-earphone" title="Requester phone number"></i>
                      0000000000
                    </div>
                  </td>
                  <td class="agenda-location">
                    <div class="agenda-location">
                      <i class="glyphicon glyphicon-home" title="Meeting location"></i>
                      Location
                    </div>
                  </td>
                  <td class="agenda-announce">
                    <div class="agenda-announce">
                      <i class="glyphicon glyphicon-flag" title="Announce link"></i>
                      <a href="#">Announce id</a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>