<span *ngIf="!logged; else show">NOT AUTHORIZED</span>
<ng-template #show>
<app-logged-navbar></app-logged-navbar>
<app-header-component></app-header-component>
<div class="form-container">
  <form [formGroup]="announcementForm" (ngSubmit)="createAnnouncement(announcementForm.value)">
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <label for="name">Name <span class="glyphicon glyphicon-pencil"></span></label>
          <span *ngIf="announcementForm.controls['name'].valid"><span class="glyphicon glyphicon-ok-sign"></span></span>
          <input type="name" class="form-control" id="name" placeholder="Name"
                 [formControl]="announcementForm.controls['name']">
        </div>
        <div class="form-group">
          <label for="area">Area <span class="glyphicon glyphicon-home"></span></label>
          <span *ngIf="announcementForm.controls['area'].valid"><span class="glyphicon glyphicon-ok-sign"></span></span>
          <input type="area" class="form-control" id="area" placeholder="Area"
                 [formControl]="announcementForm.controls['area']">
        </div>
        <div class="form-group">
          <label for="roomNumber">Room number <span class="glyphicon glyphicon-home"></span></label>
          <span *ngIf="announcementForm.controls['roomNumber'].valid"><span
            class="glyphicon glyphicon-ok-sign"></span></span>
          <input type="roomNumber" class="form-control" id="roomNumber" placeholder="Room Number"
                 [formControl]="announcementForm.controls['roomNumber']">
        </div>
        <div class="form-group">
          <label for="zoneName">Zone name <span class="glyphicon glyphicon-pencil"></span></label>
          <span *ngIf="announcementForm.controls['zoneName'].valid"><span
            class="glyphicon glyphicon-ok-sign"></span></span>
          <input type="zoneName" class="form-control" id="zoneName" placeholder="Zone name"
                 [formControl]="announcementForm.controls['zoneName']">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <label for="price">Price <span class="glyphicon glyphicon-euro"></span></label>
          <span *ngIf="announcementForm.controls['price'].valid"><span
            class="glyphicon glyphicon-ok-sign"></span></span>
          <input type="price" class="form-control" id="price" placeholder="Price"
                 [formControl]="announcementForm.controls['price']">
        </div>
        <div class="form-group">
          <label for="description">Description <span class="glyphicon glyphicon-pencil"></span></label>
          <span *ngIf="announcementForm.controls['description'].valid"><span
            class="glyphicon glyphicon-ok-sign"></span></span>
          <textarea class="form-control" id="description" placeholder="Description.."
                    [formControl]="announcementForm.controls['description']"> </textarea>
        </div>
        <div class="form-group">
          <label for="postalCode">Postal Code <span class="glyphicon glyphicon-home"></span></label>
          <span *ngIf="announcementForm.controls['postalCode'].valid"><span
            class="glyphicon glyphicon-ok-sign"></span></span>
          <input type="postalCode" class="form-control" id="postalCode" placeholder="Postal code"
                 [formControl]="announcementForm.controls['postalCode']">
        </div>
      </div>
    </div>

    <label style="display: inline">Real Estate type:</label>
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        {{selectedOption}} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li *ngFor="let choice of typeOptions" (click)="selectOption(choice)">
          <a class="btn" style="text-align: left">{{choice}}</a>
        </li>
      </ul>
    </div>
    <br>

    <div class="row">
      <div class="col-lg-4">
        <!--CHIMIC POLLUTION INPUT-->
        <label style="margin-top: 10px">Chimic pollution (0 to 9)</label>
        <div class="form-control input-sm center merge-bottom-input">{{chimicPollution}}</div>
        <div class="btn-group btn-block" role="group" aria-label="plus-minus">
    <span *ngIf="chimicPollution == 0">
    <button type="button" class="btn btn-sm btn-danger minus-button merge-top-left-button" disabled><span
      class="glyphicon glyphicon-minus"></span></button>
      </span>
          <span *ngIf="chimicPollution > 0">
    <button type="button" class="btn btn-sm btn-danger minus-button merge-top-left-button" (click)="chimicPollutionM()"><span
      class="glyphicon glyphicon-minus"></span></button>
      </span>
          <span *ngIf="chimicPollution == 9">
    <button type="button" class="btn btn-sm btn-success plus-button merge-top-right-button" disabled><span
      class="glyphicon glyphicon-plus"></span></button>
      </span>
          <span *ngIf="chimicPollution < 9">
    <button type="button" class="btn btn-sm btn-success plus-button merge-top-right-button"
            (click)="chimicPollutionP()"><span
      class="glyphicon glyphicon-plus"></span></button>
      </span>
        </div>
      </div>
      <!--WASTE POLLUTION INPUT-->
      <div class="col-lg-4">
        <label style="margin-top: 10px">Waste pollution (0 to 9)</label>
        <div class="form-control input-sm center merge-bottom-input">{{wastePollution}}</div>
        <div class="btn-group btn-block" role="group" aria-label="plus-minus">
    <span *ngIf="wastePollution == 0">
    <button type="button" class="btn btn-sm btn-danger minus-button merge-top-left-button" disabled><span
      class="glyphicon glyphicon-minus"></span></button>
      </span>
          <span *ngIf="wastePollution > 0">
    <button type="button" class="btn btn-sm btn-danger minus-button merge-top-left-button"
            (click)="wastePollutionM()"><span
      class="glyphicon glyphicon-minus"></span></button>
      </span>
          <span *ngIf="wastePollution == 9">
    <button type="button" class="btn btn-sm btn-success plus-button merge-top-right-button" disabled><span
      class="glyphicon glyphicon-plus"></span></button>
      </span>
          <span *ngIf="wastePollution < 9">
    <button type="button" class="btn btn-sm btn-success plus-button merge-top-right-button"
            (click)="wastePollutionP()"><span
      class="glyphicon glyphicon-plus"></span></button>
      </span>
        </div>
      </div>
      <!--NOISE POLLUTION INPUT-->
      <div class="col-lg-4">
        <label style="margin-top: 10px">Noise pollution (0 to 9)</label>
        <div class="form-control input-sm center merge-bottom-input">{{noisePollution}}</div>
        <div class="btn-group btn-block" role="group" aria-label="plus-minus">
    <span *ngIf="noisePollution == 0">
    <button type="button" class="btn btn-sm btn-danger minus-button merge-top-left-button" disabled><span
      class="glyphicon glyphicon-minus"></span></button>
      </span>
          <span *ngIf="noisePollution > 0">
    <button type="button" class="btn btn-sm btn-danger minus-button merge-top-left-button"
            (click)="noisePollutionM()"><span
      class="glyphicon glyphicon-minus"></span></button>
      </span>
          <span *ngIf="noisePollution == 9">
    <button type="button" class="btn btn-sm btn-success plus-button merge-top-right-button" disabled><span
      class="glyphicon glyphicon-plus"></span></button>
      </span>
          <span *ngIf="noisePollution < 9">
    <button type="button" class="btn btn-sm btn-success plus-button merge-top-right-button"
            (click)="noisePollutionP()"><span
      class="glyphicon glyphicon-plus"></span></button>
      </span>
        </div>
      </div>
    </div>
    <!--MAP-->
    <h4>Select real estate location</h4>
    <agm-map [latitude]="lat" [longitude]="lng" (mapClick)="mapClicked($event)">
      <agm-marker [latitude]="markerLat" [longitude]="markerLng"></agm-marker>
    </agm-map>
    <!--FACILITES-->
    <h3>Nearby locations</h3>
    <div class="row" style="margin-top: 10px">
      <div class="col-lg-6">
        <label style="display: inline">Bars: </label>
        <div style="height: 20px; width: 50px; position: absolute; margin-top: -20px; margin-left: 300px;">
          <div class="material-switch pull-right">
            <input id="someSwitchOptionDefault" name="someSwitchOption001" type="checkbox" (click)="haveBars()"/>
            <label for="someSwitchOptionDefault" class="label-default"></label>
          </div>
        </div>
        <br>
        <label style="display: inline" style="margin-top: 20px">Entertainment: </label>
        <div style="height: 20px; width: 50px; position: absolute; margin-top: -20px; margin-left: 300px;">
          <div class="material-switch pull-right">
            <input id="someSwitchOptionDefault1" name="someSwitchOption002" type="checkbox"
                   (click)="haveEntertainment()"/>
            <label for="someSwitchOptionDefault1" class="label-default"></label>
          </div>
        </div>
        <br>
        <label style="display: inline" style="margin-top: 20px">Great view: </label>
        <div style="height: 20px; width: 50px; position: absolute; margin-top: -20px; margin-left: 300px;">
          <div class="material-switch pull-right">
            <input id="someSwitchOptionDefault2" name="someSwitchOption003" type="checkbox"
                   (click)="haveGreatVeiw()"/>
            <label for="someSwitchOptionDefault2" class="label-default"></label>
          </div>
        </div>
        <br>
        <label style="display: inline" style="margin-top: 20px">Hard reachable: </label>
        <div style="height: 20px; width: 50px; position: absolute; margin-top: -20px; margin-left: 300px;">
          <div class="material-switch pull-right">
            <input id="someSwitchOptionDefault3" name="someSwitchOption003" type="checkbox"
                   (click)="haveHardReachable()"/>
            <label for="someSwitchOptionDefault3" class="label-default"></label>
          </div>
        </div>
        <br>
      </div>
      <div class="col-lg-6">
        <label style="display: inline" style="margin-top: 20px">Parking: </label>
        <div style="height: 20px; width: 50px; position: absolute; margin-top: -20px; margin-left: 300px;">
          <div class="material-switch pull-right">
            <input id="someSwitchOptionDefault4" name="someSwitchOption004" type="checkbox" (click)="haveparking()"/>
            <label for="someSwitchOptionDefault4" class="label-default"></label>
          </div>
        </div>
        <br>
        <label style="display: inline" style="margin-top: 20px">Public transport: </label>
        <div style="height: 20px; width: 50px; position: absolute; margin-top: -20px; margin-left: 300px;">
          <div class="material-switch pull-right">
            <input id="someSwitchOptionDefault5" name="someSwitchOption005" type="checkbox"
                   (click)="havepublicTransport()"/>
            <label for="someSwitchOptionDefault5" class="label-default"></label>
          </div>
        </div>
        <br>
        <label style="display: inline" style="margin-top: 20px">Shops: </label>
        <div style="height: 20px; width: 50px; position: absolute; margin-top: -20px; margin-left: 300px;">
          <div class="material-switch pull-right">
            <input id="someSwitchOptionDefault6" name="someSwitchOption006" type="checkbox" (click)="haveshops()"/>
            <label for="someSwitchOptionDefault6" class="label-default"></label>
          </div>
        </div>
        <br>
      </div>
    </div>
    <span *ngIf="!announcementForm.valid">
          <button type="submit" disabled class="btn btn-success btn-block submitAnnouncement"><span
            class="glyphicon glyphicon-log-in"></span> Create announcement
          </button>
            </span>
    <span *ngIf="announcementForm.valid"><button type="submit"
                                                 class="btn btn-success btn-block submitAnnouncement"><span
      class="glyphicon glyphicon-log-in"></span> Create announcement
          </button></span>
  </form>
</div>
</ng-template>
