body {
    font-family: 'Montserrat', sans-serif;
}
h1{
    text-transform: uppercase; letter-spacing: 0.06em; margin-bottom: 40px;
}

#map {
	border-style: solid;
	border-color: white;
	border-width: 10px;
	-webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    width: 100%; 
    height: 100%; 
}

#banner{
	background-image: url("../images/bb.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 1400px 400px;
	padding-bottom: 10%;
	height: auto;
	width: 100%;

}

#search-group{
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
	border-radius: 5px;
	margin-top: 18%;
	margin-left: 8%;
	width: 80%;
}

#btn-select{
	height: 60px;
}

#search-btn{
	height: 60px;
}

#search-form{
	float:left;
	height: 60px;
}

.btn-grou{
	height: 100%;
}

.btn-lg{
	margin-top: 2.5%;
	font-size: 14px;
}

.info-window {
    font-family: 'Montserrat', sans-serif;
}
.info-content {
    color: #999;
}

.img{
	background-repeat: no-repeat;
	border-style: solid;
	border-color: #f5f5f5;
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
	border-radius: 10px;
	display: block;
	width: 100%;
	max-width: 100%;
	height: 65%;
}

.test{
	background: red;

}

.test2{
	background: blue;
}

.mygalery{
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 20px;
	margin-right: 20px;
	height: auto;
	width: auto;

}

.mypanel-left{
	float:left;
	border-style: solid;
	border: 10px;
	height: 320px;
	width: 100%;
	max-width: 320px;
}

.mypanel-right{
	float:right;
	border-style: solid
	border: 10px;
	height: 320px;
	width: 100%;
	max-width: 320px;
}

.cmn-toggle 
{
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}

.cmn-toggle + label{
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.cmn-toggle-round-flat + label{
  padding: 2px;
  height: 35%;
  width: 200px;
  background-color: #dddddd;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}

input.cmn-toggle-round-flat + label:before, input.cmn-toggle-round-flat + label:after{
  display: block;
  position: absolute;
  content: "";
}

input.cmn-toggle-round-flat + label:before{
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #fff;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}

input.cmn-toggle-round-flat + label:after{
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 30%;
  background-color: #dddddd;
  border-radius: 52px;
  -webkit-transition: margin 0.4s, background 0.4s;
  -moz-transition: margin 0.4s, background 0.4s;
  -o-transition: margin 0.4s, background 0.4s;
  transition: margin 0.4s, background 0.4s;
}

input.cmn-toggle-round-flat:checked + label{
  background-color: #5cb85c;
}

input.cmn-toggle-round-flat:checked + label:after{
  margin-left: 60%;
  background-color: #5cb85c;
}

.modal-header, .close {
      background-color: #5cb85c;
      color:white !important;
      text-align: center;
      font-size: 30px;
  }
.modal-footer {
      background-color: #f9f9f9;
}

.profile-dropdown{
  float: right;
}

.btns-lgrg{
	float:right; 
	margin-right: -20px;
}

.hiddenNavbarBtn{
	display: none !important;
}

.map-container{
	position: relative;
	margin-left: 1%;
	margin-right: 1%;
	height: 70%;
}

.switch-container{
	margin-bottom: 0px;
	margin-top: 1%;
	margin-left: 2%;
	height: 12%;
}

.switch{
	width: 50%;
}

@media screen and (max-width: 767px){
	.mygalery{
		margin-left: 20%;
		margin-right: 20%;
	}

	.mypanel-right{
		float: left;
		text-align: center;
		max-width: 520px;
	}

	.mypanel-left{
		text-align: center;
		max-width: 520px;
	}

	.in{
		background-size: 100% 100%;
	}

	.btns-lgrg{
		display: none;
	}

	.hiddenNavbarBtn{
		display: block !important;
	}

	.switch-container{
		height: 15%;
	}

	.switch{
		height: 70px;
		width: 40%;
	}

}

@media screen and (max-width: 400px){
	.mygalery{
		margin-left: 0;
		margin-right: 0;
		width:100%;
	}
	
	.mypanel-right{
		float: left;
		text-align: center;
		max-width: 520px;
	}

	.in{
		background-size: 100% 100%;
	}

	.mypanel-left{
		text-align: center;
		max-width: 520px;
	}

	#btn-select{
	height: 30px;
	}

	#search-btn{
	height: 30px;
	}

	#search-form{
	height: 30px;
	}

	.switch-container{
		height: 15%;
	}

	.switch{
		width: 50%;
	}
}

#sort-btn {
    height:25px;
  
}
.pagination>li>a, .pagination>li>span { border-radius: 50% !important;margin: 0 5px;}

