
  body {
    font-family: 'Montserrat', sans-serif;
    background:#eee;
}

.title{
 margin-left:20px
}

.panel .panel-heading {
    padding: 5px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom: 1px solid #DDD;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

.panel .panel-heading .panel-title {
    padding: 10px;
    font-size: 17px;
}


.nav-email > li:first-child + li:active {
  margin-top: 0px;
}
.nav-email > li + li {
  margin-top: 1px;
}
.nav-email li {
  background-color: white;
}
.nav-email li.active {
  background-color: transparent;
}
.nav-email li.active .label {
  background-color: white;
  color: black;
}
.nav-email li a {
  color: black;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
.nav-email li a:hover {
  background-color: #EEEEEE;
}
.nav-email li a i {
  margin-right: 5px;
}
.nav-email li a .label {
  margin-top: -1px;
}

.nav-email-subtitle {
  font-size: 15px;
  text-transform: uppercase;
  color: #333;
  margin-bottom: 15px;
  margin-top: 30px;
}

.page-header{
  text-align: center;    
}

.profile-dropdown{
  float: right;
}

.myContainer{
  width: 100%;
  margin-top: 1%;
}

.test{
  position: relative;
}

.agenda {  
  margin-left: 25%;
  margin-right: 1%;
}

/* Dates */
.agenda .agenda-date { 
  width: 1%;
}

.agenda .agenda-date .dayofmonth {
  width: auto;
  font-size: 36px;
  line-height: 36px;
  float: left;
  text-align: right;
  margin-right: 10px; 
}
.agenda .agenda-date .shortdate {
  font-size: 12px; 
}


/* Times */
.agenda .agenda-time { 
  width: 5%; 
}

.agenda .agenda-requester {  
  width: 4%;
}
.agenda .agenda-requester .agenda-requester{  
  font-size: 15px;
  height: 30px;
  margin-top: 20px;
  width: 100%;
}

.agenda .agenda-phone {  
  width: 6%;
}

.agenda .agenda-phone .agenda-phone {  
  margin-top: 20px;
  font-size: 15px;
  height: 30px;
  width: 100%
}

.agenda .agenda-location {  
  width: 6%;
}

.agenda .agenda-location .agenda-location {  
  margin-top: 20px;
  font-size: 15px;
  height: 30px;
  width: 100%
}

.agenda .agenda-announce {  
  width: 6%;
}

.agenda .agenda-announce .agenda-announce {  
  margin-top: 20px;
  font-size: 15px;
  height: 30px;
  width: 100%
}

.agenda .agenda-decision{
  width: 6%;
  height: 100%;
}
.agenda-decision .decision-btn{
  margin-top: 2%;
  margin-left: 18%;
  height: 94%;
  width: 60%;
}

.decision-btn .btn-success{
  border-width: 2px;
  margin-bottom: 4%;
  width: 100%;
}

.decision-btn .btn-danger{
  border-width: 2px;
  width: 100%;
}

.agenda-decision .modal-content{
  height: 40%;
  margin-top: 20%;
  margin-left: 25%;
  width: 50%;
}

@media (max-width: 767px) {
    
}