<span *ngIf="logged">
<app-logged-navbar></app-logged-navbar>
</span>
<span *ngIf="!logged">
<app-navbar></app-navbar>
</span>
<app-header-component></app-header-component>
<span *ngIf="noData; else show;">NO DATA AVAILABLE !</span>
<ng-template #show>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">{{announcement.name}}
          <small>{{announcement.realEstate.zone.name}}</small>
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="item active">
              <img class="img-responsive" src="http://placehold.it/650x500" alt="">
            </div>
            <div class="item">
              <img class="img-responsive" src="http://placehold.it/650x500" alt="">
            </div>
            <div class="item">
              <img class="img-responsive" src="http://placehold.it/650x500" alt="">
            </div>
          </div>
          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev" style="width: 6%">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" data-slide="next" style="width: 6%">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
      </div>

      <div class="col-md-6">
        <h3>Description</h3>
        <p>{{announcement.description}}</p>
        <h3>Details</h3>
        <div class="row">
          <div class="col-lg-6">
            <ul>
              <li>Type: {{announcement.realEstate.type.name}}</li>
              <li>Price: {{announcement.price}} &euro;</li>
              <li>Area: {{announcement.realEstate.area}} m<sup>2</sup></li>
              <li>Shops nearby: <span *ngIf="announcement.realEstate.zone.shopsNearby">
                <span class="glyphicon glyphicon-ok" style="color: green;"></span>
              </span>
                <span *ngIf="!announcement.realEstate.zone.shopsNearby">
                <span class="glyphicon glyphicon-remove" style="color: red;"></span>
              </span></li>
              <li>Entertainment nearby:
                <span *ngIf="announcement.realEstate.zone.entertainmentNearby">
                <span class="glyphicon glyphicon-ok" style="color: green;"></span>
              </span>
                <span *ngIf="!announcement.realEstate.zone.entertainmentNearby">
                <span class="glyphicon glyphicon-remove" style="color: red;"></span>
              </span></li>
              <li>Bars nearby:
                <span *ngIf="announcement.realEstate.zone.barsNearby">
                <span class="glyphicon glyphicon-ok" style="color: green;"></span>
              </span>
                <span *ngIf="!announcement.realEstate.zone.barsNearby">
                <span class="glyphicon glyphicon-remove" style="color: red;"></span>
              </span></li>
              <li>Public transport nearby:
                <span *ngIf="announcement.realEstate.zone.publicTransportNearby">
                <span class="glyphicon glyphicon-ok" style="color: green;"></span>
              </span>
                <span *ngIf="!announcement.realEstate.zone.publicTransportNearby">
                <span class="glyphicon glyphicon-remove" style="color: red;"></span>
              </span></li>
              <li>Great view:
                <span *ngIf="announcement.realEstate.zone.greatView">
                <span class="glyphicon glyphicon-ok" style="color: green;"></span>
              </span>
                <span *ngIf="!announcement.realEstate.zone.greatView">
                <span class="glyphicon glyphicon-remove" style="color: red;"></span>
              </span></li>
              <li>Parking:
                <span *ngIf="announcement.realEstate.zone.parking">
                <span class="glyphicon glyphicon-ok" style="color: green;"></span>
              </span>
                <span *ngIf="!announcement.realEstate.zone.parking">
                <span class="glyphicon glyphicon-remove" style="color: red;"></span>
              </span></li>
              <li>Hard reachable:
                <span *ngIf="announcement.realEstate.zone.hardReachable">
                <span class="glyphicon glyphicon-ok" style="color: green;"></span>
              </span>
                <span *ngIf="!announcement.realEstate.zone.hardReachable">
                <span class="glyphicon glyphicon-remove" style="color: red;"></span>
              </span></li>
            </ul>
            <h3>Owner details</h3>
            <ul>
              <li>First name: {{announcement.owner.firstName}}</li>
              <li>Last name: {{announcement.owner.lastName}}</li>
              <li>Email: {{announcement.owner.email}}</li>
              <li>Phone number: {{announcement.owner.phoneNumber}}</li>
            </ul>
          </div>
          <div class="col-lg-6">
            <div class="container">
              <div class="row">
                <div class="span3">
                  <h4>Pollution meter:</h4>
                  <ul class="unstyled">
                    <li>Noise pollution <span class="pull-right strong">{{noiseMeter}}%</span>
                      <div class="progress progress-important">
                        <div class="bar" style="background: yellow; height: 100%" [style.width.%]="noiseMeter"></div>
                      </div>
                    </li>
                    <li>Waste pollution<span class="pull-right strong">{{wasteMeter}}%</span>
                      <div class="progress progress-success">
                        <div class="bar" style="background: green; height: 100%" [style.width.%]="wasteMeter"></div>
                      </div>
                    </li>
                    <li>Chimic pollution<span class="pull-right strong">{{chimicMeter}}%</span>
                      <div class="progress progress-success">
                        <div class="bar" style="background: red; height: 100%" [style.width.%]="chimicMeter"></div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container switch-container">
    <div class="row">
      <div class="col-md-2 col-sm-2 col-xs-4">
        <h5>Noise pollution</h5>
        <div class="switch">
          <input id="cmn-toggle-1" class="cmn-toggle cmn-toggle-round-flat" type="checkbox" (click)="noiseP()">
          <label for="cmn-toggle-1"></label>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-4">
        <h5>Chimic pollution</h5>
        <div class="switch">
          <input id="cmn-toggle-2" class="cmn-toggle cmn-toggle-round-flat" type="checkbox" (click)="chimicP()">
          <label for="cmn-toggle-2"></label>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-4">
        <h5>Waste pollution</h5>
        <div class="switch">
          <input id="cmn-toggle-3" class="cmn-toggle cmn-toggle-round-flat" type="checkbox" (click)="wasteP()">
          <label for="cmn-toggle-3"></label>
        </div>
      </div>
    </div>
  </div>
  <agm-map [latitude]="mapLat" [longitude]="mapLng" [zoom]="15">
  <span *ngFor="let info of announcementInfos">
  <agm-marker [latitude]="mapLat" [longitude]="mapLng">
  </agm-marker>
    <span *ngIf="noise">
    <agm-circle [latitude]="info.lat" [longitude]="info.lng" [radius]="50 + info.noise*10" [fillColor]="'yellow'"
                [fillOpacity]="0.05 + info.noise/100"></agm-circle>
    </span>
    <span *ngIf="chimic">
    <agm-circle [latitude]="info.lat" [longitude]="info.lng" [radius]="50 + info.chimic*30" [fillColor]="'red'"
                [fillOpacity]="0.03 + info.chimic/100"></agm-circle>
    </span>
    <span *ngIf="waste">
    <agm-circle [latitude]="info.lat" [longitude]="info.lng" [radius]="50 + info.waste*20" [fillColor]="'green'"
                [fillOpacity]="0.03 + info.waste/100"></agm-circle>
    </span>
    </span>
  </agm-map>


</ng-template>
