<ul class="nav nav-pills nav-stacked nav-email shadow mb-20">
  <li>
    <a href="inbox.html"><i class="fa fa-envelope-o"></i> Inbox</a>
  </li>
  <li>
    <a href="sentmail.html"><i class="fa fa-envelope-o"></i> Sent Mail</a>
  </li>
  <li>
    <a href="important.html"><i class="fa fa-certificate"></i> Important</a>
  </li>
  <li>
    <a href="drafts.html">
      <i class="fa fa-file-text-o"></i> Drafts <span
      class="label label-info pull-right inbox-notification">35</span>
    </a>
  </li>
  <li><a href="trash.html"> <i class="fa fa-trash-o"></i> Trash</a></li>
</ul>

<h5 class="nav-email-subtitle">More</h5>
<ul class="nav nav-pills nav-stacked nav-email mb-20 rounded shadow">
  <li>
    <a routerLink="/myAnnouncements">
      <i class="fa fa-folder-open"></i> My Announcements <span
      class="label label-danger pull-right"></span>
    </a>
  </li>
  <li>
    <a href="myFavourites.html">
      <i class="fa fa-folder-open"></i> My favourites <span class="label label-danger pull-right">10</span>
    </a>
  </li>
  <li>
    <a (click)="redirectTo('meetingsRequests')">
      <i class="fa fa-folder-open"></i> Meeting request <span class="label label-danger pull-right">2</span>
    </a>
  </li>
  <li>
    <a href="meetingsInProgress.html">
      <i class="fa fa-folder-open"></i> Meetings in progress
    </a>
  </li>
</ul>
