<div class="btns-lgrg">
  <button type="button" class="btn btn-default btn-lg" (click)="signIn.open()">Log in</button>
  <button type="button" class="btn btn-default btn-lg" (click)="register.open()">Register</button>
</div>

<!--LOGIN MODAL-->
<modal [animation]="animation" [keyboard]="keyboard" [backdrop]="backdrop" #signIn>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" (click)="loginClosed()">&times;</button>
    <h4><span class="glyphicon glyphicon-log-in"></span> Sign in</h4>
  </div>
  <modal-body>
    <div class="modal-body" style="padding:40px 50px;">
      <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
        <div class="form-group">
          <label for="email"><span class="glyphicon glyphicon-user"></span>Email</label>
          <span *ngIf="loginForm.controls['email'].valid"><span class="glyphicon glyphicon-ok-sign"></span></span>
          <input type="text" class="form-control" placeholder="Enter email" id="email"
                 [formControl]="loginForm.controls['email']">
        </div>
        <div class="form-group">
          <label for="password"><span class="glyphicon glyphicon-eye-open"></span>Password</label>
          <span *ngIf="loginForm.controls['password'].valid"><span class="glyphicon glyphicon-ok-sign"></span></span>
          <input type="password" class="form-control" id="password" placeholder="Enter password"
                 [formControl]="loginForm.controls['password']">
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" checked #remember (change)="rememberMe(remember.checked)">Remember me
          </label>
        </div>
        <span *ngIf="!loginForm.valid">
          <button type="submit" disabled class="btn btn-success btn-block"><span
            class="glyphicon glyphicon-log-in"></span> Sign in
          </button>
            </span>
        <span *ngIf="loginForm.valid"><button type="submit" class="btn btn-success btn-block"><span
          class="glyphicon glyphicon-log-in"></span> Sign in
          </button></span>
      </form>
      <h3 *ngIf="logged" style="color: green; text-align: center;">You have been successfully logged in !</h3>
      <h3 *ngIf="loginFailed" style="color: red; text-align: center;">Username or password incorrect !</h3>
    </div>
  </modal-body>
  <div class="modal-footer">
    <p>Not a member? <a href="#">Sign Up</a></p>
    <p>Forgot <a href="#">Password?</a></p>
  </div>
</modal>

<!--REGISTER MODAL-->
<modal [animation]="animation" [keyboard]="keyboard" [backdrop]="backdrop" #register>
  <div class="modal-header" style="height: 100px;">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4><span class="glyphicon glyphicon-ok-sign"></span> Register</h4>
  </div>
  <modal-body>
    <div class="modal-body" style="padding:40px 50px;">
      <form role="form" [formGroup]="registerForm" (ngSubmit)="reg(registerForm.value)">
        <!--NUME-->
        <div class="form-group">
          <label for="r_firstname"><span class="glyphicon glyphicon-user"></span> Nume </label>
          <span *ngIf="registerForm.controls['firstname'].valid"><span class="glyphicon glyphicon-ok-sign"></span></span>
          <input type="text" class="form-control" id="r_firstname" placeholder="Nume"
                 [formControl]="registerForm.controls['firstname']">
          <span [hidden]="registerForm.controls['firstname'].valid || registerForm.controls['firstname'].pristine">Trebuie sa contina doar caractere !</span>
        </div>
        <!--PRENUME-->
        <div class="form-group">
          <label for="r_lastname"><span class="glyphicon glyphicon-user"></span> Prenume </label>
          <span *ngIf="registerForm.controls['lastname'].valid"><span class="glyphicon glyphicon-ok-sign"></span></span>
          <input type="text" class="form-control" id="r_lastname" placeholder="Prenume"
                 [formControl]="registerForm.controls['lastname']">
          <span [hidden]="registerForm.controls['lastname'].valid || registerForm.controls['lastname'].pristine">Trebuie sa contina doar caractere !</span>
        </div>

        <!--EMAIL-->
        <div class="form-group">
          <label for="r_email"><span class="glyphicon glyphicon-envelope"></span> Email </label>
          <span *ngIf="registerForm.controls['email'].valid"><span class="glyphicon glyphicon-ok-sign"></span></span>
          <input type="text" class="form-control" id="r_email" placeholder="Enter email"
                 [formControl]="registerForm.controls['email']">
          <span [hidden]="registerForm.controls['email'].valid || registerForm.controls['email'].pristine">Adresa de email trebuie sa fie valida !</span>
        </div>
        <!--NUME-->
        <div class="form-group">
          <label for="r_phone"><span class="glyphicon glyphicon-phone"></span> Phone number </label>
          <span *ngIf="registerForm.controls['phone'].valid"><span class="glyphicon glyphicon-ok-sign"></span></span>
          <input type="text" class="form-control" id="r_phone" placeholder="Phone number"
                 [formControl]="registerForm.controls['phone']">
          <span [hidden]="registerForm.controls['phone'].valid || registerForm.controls['phone'].pristine">Trebuie sa contina doar cifre !</span>
        </div>
        <!--PAROLA-->
        <div class="form-group">
          <label for="r_password"><span class="glyphicon glyphicon-eye-open"></span> Password </label>
          <span *ngIf="registerForm.controls['password'].valid"><span class="glyphicon glyphicon-ok-sign"></span></span>
          <input type="text" class="form-control" name="r_password" id="r_password" placeholder="Enter email"
                 [formControl]="registerForm.controls['password']"
          >
          <span [hidden]="registerForm.controls['password'].valid || registerForm.controls['password'].pristine">Parola trebuie sa contina minim 6 caractere !</span>
        </div>
        <!--REPEAT-->
        <div class="form-group">
          <label for="r_repeatpassword"><span class="glyphicon glyphicon-eye-open"></span> Repeat Password </label>
          <span
            *ngIf="registerForm.controls['repeatpassword'].valid && (registerForm.controls['repeatpassword'].value == registerForm.controls['password'].value)"><span
            class="glyphicon glyphicon-ok-sign"></span></span>
          <input type="text" class="form-control" name="r_repeatpassword" id="r_repeatpassword"
                 placeholder="Repeat password"
                 [formControl]="registerForm.controls['repeatpassword']"
          >
          <span
            [hidden]="registerForm.controls['repeatpassword'].pristine || (registerForm.controls['repeatpassword'].value == registerForm.controls['password'].value)">Parolele nu coincid !</span>
        </div>
        <span
          *ngIf="registerForm.valid && (registerForm.controls['repeatpassword'].value == registerForm.controls['password'].value)">
        <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-ok-sign"></span> Sign
          up
        </button>
          </span>
        <span
          *ngIf="!registerForm.valid || (registerForm.controls['repeatpassword'].value != registerForm.controls['password'].value)">
        <button class="btn btn-success btn-block" disabled><span class="glyphicon glyphicon-ok-sign"></span> Sign
          up
        </button>
          </span>
      </form>
      <h3 *ngIf="emailUsed" style="color: red; text-align: center;">Email adress already used !</h3>
      <h3 *ngIf="registerFailed" style="color: red; text-align: center;">Can not connect to server !</h3>
      <h3 *ngIf="registerComplete" style="color: green; text-align: center;">Account created !</h3>
    </div>
  </modal-body>
</modal>
