<div class="pull-right" role="group">
  <button type="button" class="btn btn-secondary custom-btn" (click)="openLoginForm()">
    <i class="glyphicon glyphicon-log-in"> </i> Sign in
  </button>
  <button type="button" class="btn btn-secondary custom-btn" (click)="openRegisterForm()">
    <i class="glyphicon glyphicon-ok"> </i> Register
  </button>
</div>

<!--LOGIN MODAL-->
<bs-modal [animation]="animation" [keyboard]="keyboard" [backdrop]="backdrop" #signIn>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" (click)="loginClosed()">&times;</button>
    <h4><span class="glyphicon glyphicon-log-in"></span> Sign in</h4>
  </div>
  <bs-modal-body>
    <div class="modal-body" style="padding:40px 50px;">
      <h3 *ngIf="isNewUser" class="alert alert-success" style="font-size: 20px;" role="alert">Your registration has been
        successfully !</h3>
      <h3 *ngIf="logged" class="alert alert-success" style="font-size: 20px;" role="alert">You have been successfully
        logged in !</h3>
      <h3 *ngIf="loginFailed" class="alert alert-danger" style="font-size: 20px;" role="alert">Your email or password is
        incorrect !</h3>

      <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
        <div class="form-group">
          <label for="email"><span class="glyphicon glyphicon-user"></span> Email</label>
          <span *ngIf="loginForm.controls['email'].valid">
            <span title="Inserted email is valid." class="glyphicon glyphicon-ok-sign pull-right"></span>
          </span>
          <input type="text" class="form-control" placeholder="Insert your email" id="email"
            [formControl]="loginForm.controls['email']">

        </div>
        <div class="form-group">
          <label for="password"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
          <span *ngIf="loginForm.controls['password'].valid">
            <span title="Inserted password is valid." class="glyphicon glyphicon-ok-sign pull-right"></span>
          </span>
          <input type="password" class="form-control" id="password" placeholder="Insert your password"
            [formControl]="loginForm.controls['password']" autocomplete="off">
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" unchecked #remember (change)="rememberMe(remember.checked)">Remember me
          </label>
        </div>
        <span *ngIf="!loginForm.valid">
          <button type="submit" disabled class="btn btn-success btn-block"><span
              class="glyphicon glyphicon-log-in"></span> Sign in
          </button>
        </span>
        <span *ngIf="loginForm.valid"><button type="submit" class="btn btn-success btn-block"><span
              class="glyphicon glyphicon-log-in"></span> Sign in
          </button></span>
      </form>
    </div>
  </bs-modal-body>
  <div class="modal-footer">
    <p>Not a member? <a href="#">Sign Up</a></p>
    <p>Forgot your <a href="#">Password?</a></p>
  </div>
</bs-modal>

<!--REGISTER MODAL-->
<bs-modal [animation]="animation" [keyboard]="keyboard" [backdrop]="backdrop" #register>
  <div class="modal-header" style="height: 100px;">
    <button type="button" class="close" data-dismiss="modal" (click)="registerClosed()">&times;</button>
    <h4><span class="glyphicon glyphicon-ok"></span> Register</h4>
  </div>
  <bs-modal-body>
    <div class="modal-body" style="padding:40px 50px;">
      <form role="form" [formGroup]="registerForm" (ngSubmit)="reg(registerForm.value)">
        <div class="form-group">
          <label for="r_firstname"><span class="glyphicon glyphicon-user"></span> First name</label>
          <span *ngIf="registerForm.controls['firstname'].valid"><span title="Your first name is valid."
              class="glyphicon glyphicon-ok-sign pull-right"></span></span>
          <input type="text" class="form-control" id="r_firstname" placeholder="Insert your first name."
            [formControl]="registerForm.controls['firstname']">
          <span [hidden]="registerForm.controls['firstname'].valid || registerForm.controls['firstname'].pristine">Your
            first name must contain only characters.</span>
        </div>

        <div class="form-group">
          <label for="r_lastname"><span class="glyphicon glyphicon-user"></span> Last name </label>
          <span *ngIf="registerForm.controls['lastname'].valid"><span title="Your last name is valid."
              class="glyphicon glyphicon-ok-sign pull-right"></span></span>
          <input type="text" class="form-control" id="r_lastname" placeholder="Insert your last name."
            [formControl]="registerForm.controls['lastname']">
          <span [hidden]="registerForm.controls['lastname'].valid || registerForm.controls['lastname'].pristine">Your
            last name must contain only characters.</span>
        </div>

        <div class="form-group">
          <label for="r_email"><span class="glyphicon glyphicon-envelope"></span> Email </label>
          <span *ngIf="registerForm.controls['email'].valid"><span title="Your email is valid."
              class="glyphicon glyphicon-ok-sign pull-right"></span></span>
          <input type="text" class="form-control" id="r_email" placeholder="Insert your email."
            [formControl]="registerForm.controls['email']">
          <span [hidden]="registerForm.controls['email'].valid || registerForm.controls['email'].pristine">Your
            email must be valid.</span>
        </div>

        <div class="form-group">
          <label for="r_phone"><span class="glyphicon glyphicon-phone"></span> Phone number </label>
          <span *ngIf="registerForm.controls['phone'].valid"><span title="Your phone number is valid."
              class="glyphicon glyphicon-ok-sign pull-right"></span></span>
          <input type="text" class="form-control" id="r_phone" placeholder="Insert your phone number."
            [formControl]="registerForm.controls['phone']">
          <span [hidden]="registerForm.controls['phone'].valid || registerForm.controls['phone'].pristine">Your
            phone number must contain only numbers.</span>
        </div>

        <div class="form-group">
          <label for="r_password"><span class="glyphicon glyphicon-eye-open"></span> Password </label>
          <span *ngIf="registerForm.controls['password'].valid"><span title="Your password is valid."
              class="glyphicon glyphicon-ok-sign pull-right"></span></span>
          <input type="password" class="form-control" name="r_password" id="r_password"
            placeholder="Insert your password." [formControl]="registerForm.controls['password']" autocomplete="off">
          <span [hidden]="registerForm.controls['password'].valid || registerForm.controls['password'].pristine">Your
            password must contain more than 6 characters.</span>
        </div>

        <div class="form-group">
          <label for="r_repeatpassword"><span class="glyphicon glyphicon-eye-open"></span> Confirm Password </label>
          <span
            *ngIf="registerForm.controls['repeatpassword'].valid && (registerForm.controls['repeatpassword'].value == registerForm.controls['password'].value)"><span
              title="Password confirmed." class="glyphicon glyphicon-ok-sign pull-right"></span></span>
          <input type="password" class="form-control" name="r_repeatpassword" id="r_repeatpassword"
            placeholder="Confirm your password." [formControl]="registerForm.controls['repeatpassword']"
            autocomplete="off">
          <span
            [hidden]="registerForm.controls['repeatpassword'].pristine || (registerForm.controls['repeatpassword'].value == registerForm.controls['password'].value)">Insert
            your password again.</span>
        </div>

        <span
          *ngIf="registerForm.valid && (registerForm.controls['repeatpassword'].value == registerForm.controls['password'].value)">
          <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-ok-sign"></span>
            Register
          </button>
        </span>
        <span
          *ngIf="!registerForm.valid || (registerForm.controls['repeatpassword'].value != registerForm.controls['password'].value)">
          <button class="btn btn-success btn-block" disabled><span class="glyphicon glyphicon-ok-sign"></span> Register
          </button>
        </span>
      </form>
      <h3 *ngIf="emailUsed" class="alert alert-danger" style="font-size: 20px;" role="alert">Email address already used
        !</h3>
      <h3 *ngIf="registerFailed" class="alert alert-danger" style="font-size: 20px;" role="alert">Cannot connect to the
        server !</h3>
      <h3 *ngIf="registerComplete" class="alert alert-success" style="font-size: 20px;" role="alert">Account created !
      </h3>
    </div>
  </bs-modal-body>
</bs-modal>